.main {
  padding: 20px;
  margin-top: -50px;
  position: relative;
}

.logo {
  color: rgb(11, 215, 144);
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 10px;
}
.sidebar-header .role {
  position: absolute;
  color: white;
  font-size: 2rem;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-end-end-radius: 20px;
}
.sidebar {
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 220px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-end-end-radius: 0px;
  box-sizing: initial;
  background: #16a0843d;
  transition: 0.5s;
}

.sidebar .menu {
  position: relative;
}

.sidebar .menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 65px;
  margin-top: 5rem;
}

.sidebar .menu ul li {
  position: relative;
  list-style: none;
  width: 100%;
}

.sidebar .menu ul li a {
  text-decoration: none;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.633);
}
.sidebar .menu ul li.active a {
  background: rgba(0, 30, 255, 0.362);
  color: rgb(255, 255, 255);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sidebar .menu ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.sidebar .menu ul li a .icon i {
  font-size: 1.5em;
}
.list {
  list-style: none;
}

.sidebar .menu ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.content {
  width: 100%;
  height: 100%;
}
.header {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-end-start-radius: 0px;
  margin-bottom: 20px;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: -55px;
}

.close-icons {
  font-size: 40px;
  padding: 20px;
  color: #1f4b47;
  cursor: pointer;
  transition: all 0.5s linear ease-in-out;
}

.close-icons:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.body {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-end-start-radius: 0px;
  box-shadow: 0 0 2px gray;
  height: 86.5vh;
  width: 100%;
  padding: 15px;
  overflow-x: scroll !important;
  margin-left: 1rem;
}

.layout-action-icon {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: #143b89;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
}

.notification {
  margin-right: 60px;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}
.notification:hover {
  color: aqua;
}
.user {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  margin-right: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.current {
  font-size: 1.7rem;
  color: rgb(255, 0, 0);
  font-weight: 700;
  padding: 11px;
  margin-left: -5rem;
  
}
@media screen and (max-width: 768px) {
  .content {
    padding-right: 10px;
  }
  .sidebar {
    margin-left: -12px;
  }
  .sidebar .menu ul li a .title {
    padding-left: 0px;
    font-size: 15px;
    margin-left: -5px;
  }
  .sidebar .menu ul li a .icon {
    font-size: 15px;
    margin-left: -10px;
  }

  .layout-action-icon {
    font-size: 20px;
    margin-right: 0px;
  }

  .header {
    margin-top: -75px;
  }
  .notification {
    margin-left: 10px;
  }

  .user {
    margin-left: -50px;
    font-size: 20px;
  }
  .body {
    height: 89vh;
  }
}


