.left img {
  width: 40rem;
  height: 40rem;
}

.home {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right h3 {
  font-size: 45px !important;
  color: rgb(4, 255, 163);
  text-shadow: 0.25rem 0.25rem 0 rgba(62, 150, 121, 0.2);
  margin-bottom: 1.5rem;
}

.right p {
  font-size: 1.7rem;
  color: rgb(125, 125, 125) !important;
  line-height: 1.8;
  padding: 1rem 0;
}


.BookNow {
  align-items: center;
  appearance: none;
  background-color: #60dfac;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #60dfacca 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2rem;
}

.BookNow:focus {
  box-shadow: #60dfacca 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #60dfacca 0 -3px 0 inset;
}

.BookNow:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #60dfacca 0 -3px 0 inset;
  transform: translateY(-2px);
}

.BookNow:active {
  box-shadow: #60dfacca 0 3px 7px inset;
  transform: translateY(2px);
}
